<a href="https://colab.research.google.com/github/saichandan27/its-my-first-repository/blob/main/SE_LAB_TASK_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num = 123
rev = 0
while num > 0:
    rev = rev * 10 + num % 10
    num //= 10
print(rev)

321

In [2]:
num = -5
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Negative

In [5]:
a = 8
b = 4
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)

Addition: 12
Subtraction: 4
Multiplication: 32
Division: 2.0

In [6]:
year = 2024
if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Leap Year

In [7]:
n = 5
fact = 1
for i in range(1, n + 1):
    fact *= i
print(fact)

120

In [8]:
num = 121
temp = num
rev = 0

while num > 0:
    rev = rev * 10 + num % 10
    num //= 10

if temp == rev:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

In [9]:
n = 10
total = 0
for i in range(1, n + 1):
    total += i
print(total)

55

In [10]:
class Student:
    def display(self):
        print("This is a student")

s = Student()
s.display()

This is a student

In [11]:
num = 5
for i in range(1, 6):
    print(num, "x", i, "=", num * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

In [12]:
numbers = [10, 25, 5, 40]
print(max(numbers))

40

In [13]:
balance = 5000

deposit = 2000
balance += deposit

withdraw = 1000
balance -= withdraw

print("Final Balance:", balance)

Final Balance: 6000

In [14]:
text = "Python Programming"

print("Length:", len(text))
print("Uppercase:", text.upper())
print("Lowercase:", text.lower())
print("Replace:", text.replace("Python", "Java"))

Length: 18
Uppercase: PYTHON PROGRAMMING
Lowercase: python programming
Replace: Java Programming

In [15]:
numbers = [5, 2, 8, 1]

numbers.append(10)
numbers.remove(2)
numbers.sort()

print(numbers)

[1, 5, 8, 10]

In [16]:
secret = 7
guess = 7

if guess == secret:
    print("Correct Guess")
else:
    print("Wrong Guess")

Correct Guess

In [17]:
for num in range(2, 11):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num)

2
3
5
7